@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,500;1,700;1,900&display=swap");
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #010203;
  /* background-color: red; */
  color: #fff;
  font-size: 25px;
  overflow: hidden;
}
.top-bar {
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
}
.logo-container {
}
.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
}
.login-button-container {
  margin-right: 10px;
}
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7f00;
  color: #fff;
  padding: 6px 10px;
  font-size: 10px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
}
.login-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #ff7f00;
}
.links-container a {
  margin: 5px 50px;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}
.company-logo {
  width: 150px;
  height: 60px;
  margin: 10px 0;
}
.shinda {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.75rem;
  padding: 1rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #fff;
}
.show-counter .countdown {
  line-height: 3rem;
  padding: 0 1rem 0 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 35px;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  color: gray;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1rem;
}
